# Maven build output
target/

# Eclipse files
.settings/
.classpath
.project
.factorypath

# IDE files
*.iml
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.class

# Package files
*.jar
*.war
